:root{
    --primario: #f9ce00;
    --primarioOscuro: #a48800;
    --primarioClaro: #ffe14f;
    --secundario: #40d353;
    --secundarioOscuro: #249a33;
    --secundarioClaro: #85e391;
    --blanco: #ececec;
    --negro: #010409; 
    --nav: #161b22;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ////////////////////////
/////////GLOBALES */

body{
    background-color: var(--negro);
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--blanco);
}

p{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* ////////////////////////
/////////HEADER */
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin-top: 5rem;
}

/* ////////////////////////
/////////NAVEGACION */
.navegacion{
    background-color: var(--nav);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--primario);
}

/* ////////////////////////
/////////FOOTER */
.footer{
    background-color: var(--nav);
    padding: 1rem 0;
    margin-top: 3rem;
}

.footer__texto{
    text-align: center;
}