:root{
    --primario: #f9ce00;
    --primarioOscuro: #a48800;
    --primarioClaro: #ffe14f;
    --secundario: #40d353;
    --secundarioOscuro: #249a33;
    --secundarioClaro: #85e391;
    --blanco: #ececec;
    --negro: #010409; 
    --nav: #161b22;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ////////////////////////
/////////GLOBALES */

body{
    background-color: var(--negro);
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--blanco);
}

p{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
    color: var(--primarioClaro);
}

img{
    max-width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--primarioClaro);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* ////////////////////////
/////////HEADER */
.header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__logo{
    margin-top: 5rem;
}

/* ////////////////////////
/////////NAVEGACION */
.navegacion{
    background-color: var(--nav);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

.navegacion__enlace{
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 5rem;
}

.navegacion__enlace:last-of-type{
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--primario);
}

/* ////////////////////////
/////////GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.grafico{
    min-height: 30rem;
}

.grafico--camisetas{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* ////////////////////////
/////////PRODUCTOS */
.producto{
    background-color: var(--nav);
    padding: 1rem;
}

.producto__imagen{
    width: 100%;
}

.producto__nombre{
    font-size: 3rem;
}

.producto__precio{
    font-size: 2.3rem;
    color: var(--primarioOscuro);
}

.producto__nombre,
.producto__precio{
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* ////////////////////////
/////////NOSOTROS */
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.nosotros__contenido{

}

.nosotros__imagen{
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}


/* ////////////////////////
/////////COMPRAR*/
.comprar{
    margin-bottom: 9rem;
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

.bloque__imagen{
    width: 100%;
}


/* ////////////////////////
/////////FOOTER */
.footer{
    background-color: var(--nav);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__texto{
    text-align: center;
}